
#quests {
    position: relative;
     background-image: url("../assets/quest-back.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.quest {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.quest.completed {
    color: whitesmoke;
    font-size: .9em;
}

.quest.completed:after {
    content: ' ✔';
}
#result {
    display: flex;
    background-color: papayawhip;
    border: solid 3px silver;

}
#result a {
    justify-content: center;
}

#result-description {
    text-align: center;
    font-size: 24px;
}