.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile * {
    margin-right: 5px;
}

.profile-stat-label {
    text-transform: uppercase; 
}

#players img {
    width: 60px;
    height: 40px;
}
#players label {
    background-color: powderblue;
}